body {
    background-color: #121212; 
    color: #ffffff; 
    font-family: Arial, sans-serif;
    margin: 0;
}

#sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333333;
    padding-top: 20px;
    overflow-y: auto; 
}

#sidebar-container {
    height: calc(100% - 20px);
}

#content {
    margin-left: 250px;
    padding: 20px;
}

#darkModeIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    width: 1024;
    height: 614;
}

.movie-button {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #555555;
    color: #ffffff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.movie-button:hover {
    transform: scale(1.1);
}

.error-message {
    background-color: #ff6347;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
}

#content {
    margin-left: 270px; 
    padding: 20px;
}