body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

#sidebar {
    width: {{ bondi_app.sidebar_width }}px;
    background-color: #1e1e1e;
    float: left;
    padding: 20px;
}

button {
    background-color: #333;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#gameButtons {
    background-color: #1e1e1e;
    overflow: hidden;
    padding: 20px;
}

#gameButtonsFrame {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#divider {
    background-color: #333;
    width: 2px;
    height: 600px;
    margin-right: 20px;
}

.gameButton {
    background-color: #333;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.gameButton:hover {
    background-color: #555;
}