body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: white;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

p {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}
