<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bondi</title>
    <link rel="stylesheet" href="Scripts/CSS/styles.css">
</head>
<body>
    <h1>Bondi</h1>
    <div id="sidebar">
        {% for category in bondi_app.categories %}
            <button onclick="displayGames('{{ category }}')">{{ category }}</button>
        {% endfor %}
    </div>
    <div id="gameButtons">
        <canvas id="divider"></canvas>
        <div id="gameButtonsFrame"></div>
    </div>
<script src="Scripts/JS/Main.js"></script>
</body>
</html>
