<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bondi | Because more then one suck</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Bondi</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#support">Support</a></li>
            </ul>
        </nav>
    </header>

    <section id="about">
        <h2>About Us</h2>
        <p>Bondi is a custom launcher for video games for linux and MacOS</p>
    </section>

    <section id="support">
        <h2>Support</h2>
        <p>For support head over to <a href="https://github.com/HttpAnimation/Bondi/issues">this Github page</a></p>
    </section>

    <footer>
        <p>&copy; 2023 Bondi. All rights reserved.</p>
    </footer>
</body>
</html>
